openapi: 3.2.0
info:
  title: Restaurant365 OData Connector Audit API
  description: The Restaurant365 OData connector exposes R365 data to OData-compatible reporting and business-intelligence tools through read-only views for companies, locations, GL accounts, items, employees, labor, transactions, and sales.
  version: v2
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
  license:
    name: Proprietary
servers:
- url: https://odata.restaurant365.net/api/v2/views
  description: Restaurant365 OData v2 views endpoint
tags:
- name: Audit
  description: Deleted entity tracking
paths:
  /EntityDeleted:
    get:
      operationId: listEntityDeleted
      summary: List Deleted Entities
      description: Retrieve a list of records deleted from the system.
      tags:
      - Audit
      security:
      - basicAuth: []
      parameters:
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/orderby'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/top'
      responses:
        '200':
          description: A collection of deleted entity records
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/EntityDeleted'
components:
  schemas:
    EntityDeleted:
      type: object
      properties:
        entityDeletedId:
          type: integer
        entityId:
          type: string
          format: uuid
        entityName:
          type: string
        deletedOn:
          type: string
          format: date-time
        rowVersion:
          type: integer
          format: int64
  parameters:
    orderby:
      name: $orderby
      in: query
      required: false
      description: Property to sort by; append desc for descending order
      schema:
        type: string
    select:
      name: $select
      in: query
      required: false
      description: Comma-separated list of properties to return
      schema:
        type: string
    filter:
      name: $filter
      in: query
      required: false
      description: Boolean expression used to filter results
      schema:
        type: string
    top:
      name: $top
      in: query
      required: false
      description: Maximum number of results to return
      schema:
        type: integer
    skip:
      name: $skip
      in: query
      required: false
      description: Number of results to skip
      schema:
        type: integer
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Domain\Username with R365 password
