openapi: 3.1.0
info:
  title: Restaurant365 OData Connector AP Invoices Metadata API
  description: The Restaurant365 OData connector exposes R365 data to OData-compatible reporting and business-intelligence tools through read-only views for companies, locations, GL accounts, items, employees, labor, transactions, and sales. Authentication uses Domain\Username (the company subdomain and R365 username) with the R365 password. Most views support the standard OData query options $filter, $orderby, $select, $skip, and $top. Sales views (SalesEmployee, SalesDetail, SalesPayment) do not support $select or $count and are limited to a 31-day date range per request.
  version: v2
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
  license:
    name: Proprietary
servers:
- url: https://odata.restaurant365.net/api/v2/views
  description: Restaurant365 OData v2 views endpoint
tags:
- name: Metadata
  description: OData service metadata
paths:
  /$metadata:
    get:
      operationId: getMetadata
      summary: Get OData Service Metadata
      description: Retrieve the OData EDMX metadata document describing all views and their properties.
      tags:
      - Metadata
      security:
      - basicAuth: []
      responses:
        '200':
          description: OData metadata document (EDMX/XML)
          content:
            application/xml:
              schema:
                type: string
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Domain\Username with R365 password
