openapi: 3.1.0
info:
  title: Restaurant365 OData Connector AP Invoices Authentication API
  description: The Restaurant365 OData connector exposes R365 data to OData-compatible reporting and business-intelligence tools through read-only views for companies, locations, GL accounts, items, employees, labor, transactions, and sales. Authentication uses Domain\Username (the company subdomain and R365 username) with the R365 password. Most views support the standard OData query options $filter, $orderby, $select, $skip, and $top. Sales views (SalesEmployee, SalesDetail, SalesPayment) do not support $select or $count and are limited to a 31-day date range per request.
  version: v2
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
  license:
    name: Proprietary
servers:
- url: https://odata.restaurant365.net/api/v2/views
  description: Restaurant365 OData v2 views endpoint
tags:
- name: Authentication
  description: Obtain a bearer token for subsequent requests
paths:
  /APIv1/Authenticate:
    post:
      operationId: authenticate
      summary: Authenticate And Obtain Bearer Token
      description: Exchange an R365 username and password for a bearer token that must be sent in the Authorization header on all subsequent API requests.
      tags:
      - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationRequest'
      responses:
        '200':
          description: Authentication succeeded; bearer token returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationResponse'
        '401':
          description: Invalid credentials
components:
  schemas:
    AuthenticationResponse:
      type: object
      properties:
        SessionId:
          type: string
          description: Identifier for the authenticated session
        UserName:
          type: string
          description: Authenticated R365 username
        BearerToken:
          type: string
          description: Bearer token to send in the Authorization header
        ResponseStatus:
          type: object
          description: Response status object; empty on success
    AuthenticationRequest:
      type: object
      required:
      - UserName
      - Password
      properties:
        UserName:
          type: string
          description: R365 username
        Password:
          type: string
          description: R365 password
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Domain\Username with R365 password
