openapi: 3.1.0
info:
  title: Restaurant365 OData Connector AP Invoices Transactions API
  description: The Restaurant365 OData connector exposes R365 data to OData-compatible reporting and business-intelligence tools through read-only views for companies, locations, GL accounts, items, employees, labor, transactions, and sales. Authentication uses Domain\Username (the company subdomain and R365 username) with the R365 password. Most views support the standard OData query options $filter, $orderby, $select, $skip, and $top. Sales views (SalesEmployee, SalesDetail, SalesPayment) do not support $select or $count and are limited to a 31-day date range per request.
  version: v2
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
  license:
    name: Proprietary
servers:
- url: https://odata.restaurant365.net/api/v2/views
  description: Restaurant365 OData v2 views endpoint
tags:
- name: Transactions
  description: Financial transactions and transaction detail
paths:
  /Transaction:
    get:
      operationId: listTransactions
      summary: List Transactions
      description: Retrieve a list of financial transactions.
      tags:
      - Transactions
      security:
      - basicAuth: []
      parameters:
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/orderby'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/top'
      responses:
        '200':
          description: A collection of transactions
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/Transaction'
  /TransactionDetail:
    get:
      operationId: listTransactionDetail
      summary: List Transaction Detail
      description: Retrieve financial transaction details at the item level.
      tags:
      - Transactions
      security:
      - basicAuth: []
      parameters:
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/orderby'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/top'
      responses:
        '200':
          description: A collection of transaction detail records
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/TransactionDetail'
components:
  parameters:
    select:
      name: $select
      in: query
      required: false
      description: Comma-separated list of properties to return
      schema:
        type: string
    skip:
      name: $skip
      in: query
      required: false
      description: Number of results to skip
      schema:
        type: integer
    filter:
      name: $filter
      in: query
      required: false
      description: Boolean expression used to filter results
      schema:
        type: string
    orderby:
      name: $orderby
      in: query
      required: false
      description: Property to sort by; append desc for descending order
      schema:
        type: string
    top:
      name: $top
      in: query
      required: false
      description: Maximum number of results to return
      schema:
        type: integer
  schemas:
    TransactionDetail:
      type: object
      properties:
        transactionDetailId:
          type: string
          format: uuid
        transactionDetailAutoId:
          type: integer
          format: int64
        transactionId:
          type: string
          format: uuid
        locationId:
          type: string
          format: uuid
        glAccountId:
          type: string
          format: uuid
        itemId:
          type: string
          format: uuid
        credit:
          type: number
        debit:
          type: number
        amount:
          type: number
        quantity:
          type: number
        previousCountTotal:
          type: number
        adjustment:
          type: number
        unitOfMeasureName:
          type: string
        bankReconciliation:
          type: string
        bankDeposit:
          type: string
        comment:
          type: string
        rowType:
          type: string
        rowVersion:
          type: integer
          format: int64
        createdOn:
          type: string
          format: date-time
        modifiedOn:
          type: string
          format: date-time
        createdBy:
          type: string
        modifiedBy:
          type: string
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
          format: uuid
        locationId:
          type: string
          format: uuid
        locationName:
          type: string
        date:
          type: string
          format: date-time
        transactionNumber:
          type: string
        name:
          type: string
        type:
          type: string
        companyId:
          type: string
          format: uuid
        rowVersion:
          type: integer
          format: int64
        isApproved:
          type: boolean
        isTemplate:
          type: boolean
        createdOn:
          type: string
          format: date-time
        modifiedOn:
          type: string
          format: date-time
        createdBy:
          type: string
        modifiedBy:
          type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Domain\Username with R365 password
